@import './scss/mixins';
@import './scss/variables';

.root {
  @include gridable(100%);
  background-color: $color-white;
  grid-template-columns: 1fr;
  gap: 36px;
  justify-items: center;
  box-sizing: border-box;
  height: 100%;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-style: normal;
}

.header,
main,
footer {
  @include gridable(100%);
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header {
  &__container {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    @include gridable(100%);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    max-width: $max-width;
    height: 100%;
    min-height: 117px;
    gap: 11px;
  }
  &__top {
    @include gridable(100%);
    grid-template-columns: 1fr repeat(2, min-content);
    font-size: 16px;
    height: 36px;
    gap: 22px;
  }
  &__link {
    cursor: pointer;
    transition: opacity 0.5s ease;
    position: relative;
    text-decoration: none;
    color: $color-decorate-blue;
    &_profile {
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }
  &__menu {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    gap: 24px;
    @media screen and (max-width: $tablet-small) {
      font-size: 14px;
    }
    &-item {
      @include link();
      &_city {
        cursor: pointer;
        @include flexible(max-content);
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        &:hover {
          .header__arrow-icon {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
  &__arrow-icon {
    @include arrow();
    height: 8px;
    width: 12px;
    stroke: $color-decorate-blue;
  }
  &__phone {
    @include gridable(100%);
    @media screen and (max-width: $smartphone) {
      display: none;
    }
    &-number {
      @include link();
      color: $color-txt-primary;
      font-size: 18px;
      white-space: nowrap;
    }
    &-text {
      margin: 0;
      font-size: 12px;
      line-height: 1.25;
      color: rgba($color-txt-primary, 0.5);
    }
  }
  &__profile {
    cursor: pointer;
    @include flexible(100%);
    align-items: center;
    gap: 8px;
    @include link();
    &:hover {
      .header__arrow-icon {
        transform: rotateX(180deg);
      }
    }

    &-icon {
      width: 17px;
      height: 17px;
    }
  }
  &__bottom {
    @include gridable(100%);
    grid-template-areas: 'logo button search cart';
    grid-template-columns: repeat(2, min-content) 1fr min-content;
    align-items: center;
    @media screen and (max-width: $tablet-small) {
      gap: 10px;
    }
  }
  &__logo {
    grid-area: logo;
    margin-right: 26px;
    @include link();
    @include gridable(100%);
    column-gap: 9px;
    align-items: center;
    justify-content: space-between;
    grid-template-areas:
      'logo logo-text-top'
      'logo logo-text-bottom';
    max-width: 133px;
    @media screen and (max-width: $tablet-small) {
      margin-right: 0;
    }
    &-icon {
      grid-area: logo;
      width: 40px;
      height: 40px;
    }
    &-text {
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1;
      @media screen and (max-width: $tablet-small) {
        display: none;
      }
      &_top {
        grid-area: logo-text-top;
        color: $color-decorate-green;
      }
      &_bottom {
        grid-area: logo-text-bottom;
        color: $color-decorate-blue;
      }
    }
  }
  &__catalog {
    &-button {
      grid-area: button;
      @include flexible(167px);
      @include button();
      gap: 8px;
      color: $color-white;
      height: 50px;
      font-weight: 500;
      background: linear-gradient(
        270.1deg,
        $color-decorate-blue 8.74%,
        $color-decorate-btn-green 99.91%
      );
      border-radius: 5px;
      &_desktop {
        &:hover {
          .header__catalog-arrow-icon {
            transform: rotateX(180deg);
          }
        }
        @media screen and (max-width: $tablet-small) {
          display: none;
        }
      }
      &_mobile {
        display: none;
        @media screen and (max-width: $tablet-small) {
          display: flex;
          width: 50px;
        }
      }
    }
    &-arrow-icon {
      @include arrow();
      height: 8px;
      width: 12px;
      stroke: $color-white;
    }
  }
}

.search-form {
  height: 100%;
  grid-area: search;
  margin: 0 18px 0 12px;
  @media screen and (max-width: $tablet-small) {
    margin: 0;
  }
  &__label {
    grid-template-areas: 'element';
    @include gridable(100%);
    height: 100%;
    position: relative;
    grid-template-columns: 1fr min-content;
  }
  &__input {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba($color-txt-primary, 0.25);
    border: 1px solid $color-search;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
    &::placeholder {
      color: $color-search;
      font-size: 18px;
    }
  }
  &__button {
    @include button();
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 57px;
    border-radius: 0 5px 5px 0;
    background-color: $color-decorate-blue;
  }
  &__icon {
    fill: red;
    width: 23px;
    height: 23px;
  }
}
.cart {
  grid-area: cart;
  @include link();
  @include flexible(100%);
  flex-flow: nowrap;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: $tablet) {
    position: relative;
    justify-content: center;
    align-items: flex-end;
  }
  &__icon {
    width: 33px;
    height: 33px;
  }
  &__link {
    text-decoration: none;
    color: $color-decorate-blue;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
  &__notify {
    @include notify();
    @media screen and (max-width: $tablet) {
      position: absolute;
    }
  }
}

.main {
  &__container {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 36px 20px;
    @include gridable(100%);
    gap: 20px;
    grid-template-columns: max-content minmax(280px, 825px);
    justify-content: space-between;
    max-width: $max-width;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }
}

.profile {
  @include gridable(100%);
  grid-template-rows: repeat(2, min-content);
  gap: 44px;
  @media screen and (max-width: $tablet) {
  }
  &__info {
    @include gridable(100%);
    gap: 14px;
    grid-template-areas:
      'avatar'
      'name'
      'edit-link';
    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      grid-template-areas:
        'avatar name'
        'avatar edit-link';
      align-items: center;
      align-content: center;
      justify-content: start;
    }
  }
  &__avatar {
    grid-area: avatar;
    height: 90px;
    border-radius: 50px;
    color: $color-white;
    background-color: $color-bg-profile;
    @include flexible(90px);
    align-items: center;
    justify-content: center;
    font-size: 34px;
  }
  &__name {
    grid-area: name;
    @include gridable(100%);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  &__edit-link {
    grid-area: edit-link;
    color: $color-decorate-green;
    font-size: 16px;
    font-weight: 500;
    @include link();
  }
  &__menu {
    @include flexible(100%);
    flex-direction: column;
    gap: 20px;
    font-size: 17px;
    @include unmarkedList(0, 0);
    font-weight: 500;
    @media screen and (max-width: $tablet) {
      flex-flow: row wrap;
      gap: 10px 20px;
    }
    &-item {
      @include flexible(100%);
      max-width: max-content;
      gap: 3px;
      align-items: center;
    }
    &-link {
      @include link();
      color: $color-txt-seconary;
      &_active {
        color: $color-txt-primary;
      }
      &_delivery {
        color: $color-decorate-blue;
      }
    }
  }
  &__delivery-notify {
    @include notify();
    @media screen and (max-width: $tablet-small) {
      font-size: 12px;
      width: 18px;
      height: 18px;
    }
  }
}

.orders {
  padding-top: 11px;
  @include gridable(100%);
  max-width: 825px;
  gap: 32px;
  @media screen and (max-width: $tablet) {
    max-width: none;
  }
  &__title {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  &__quantity {
    color: $color-txt-seconary;
  }
  &__list {
    @include gridable(100%);
    gap: 28px;
    @include unmarkedList(0, 0);
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &_in-delivery {
      box-shadow: 0px 4px 20px rgba($color-txt-primary, 0.15);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &_delivered {
      gap: 28px;
    }
  }
}

.order {
  &__container {
    border-radius: 5px;
    box-sizing: border-box;
    @include gridable(100%);
    align-items: center;
    @media screen and (max-width: $mobile-middle) {
      gap: 10px;
    }
    &_delivery {
      padding: 30px 28px 26px 40px;
      column-gap: 16px;
      grid-template-columns: max-content max-content 1fr;
      grid-template-areas:
        'title contact payment'
        'number . total';
      @media screen and (max-width: $mobile) {
        padding: 20px;
      }
      @media screen and (max-width: $mobile-middle) {
        grid-template-columns: 1fr;
        grid-template-areas:
          'title contact'
          'number .'
          'payment .'
          'total .';
      }
    }
    &_delivered {
      background-color: $color-bg-order;
      padding: 12px 28px 12px 40px;
      grid-template-areas:
        'title . payment'
        'number . total';
      @media screen and (max-width: $mobile) {
        padding: 20px;
      }
      @media screen and (max-width: $mobile-middle) {
        grid-template-columns: 1fr;
        grid-template-areas:
          'title'
          'number'
          'payment'
          'total';
      }
    }
  }
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    grid-area: title;
    @media screen and (max-width: $smartphone-small) {
      font-size: 20px;
    }
  }
  &__link {
    @include link();
    font-size: 18px;
    font-weight: 600;
    &_number {
      color: $color-decorate-blue;
      grid-area: number;
    }
  }
  &__payment {
    font-size: 17px;
    font-weight: 500;
    justify-self: end;
    margin: 0;
    grid-area: payment;
    @media screen and (max-width: $mobile-middle) {
      justify-self: start;
    }
  }
  &__total {
    font-size: 24px;
    font-weight: 700;
    justify-self: end;
    margin: 0;
    grid-area: total;
    @media screen and (max-width: $smartphone-small) {
      font-size: 20px;
    }
    @media screen and (max-width: $mobile-middle) {
      justify-self: start;
    }
  }
  &__sublist {
    @include gridable(100%);
    @include unmarkedList(0, 0);
    padding-top: 65px;
    padding-left: 36px;
    padding-right: 27px;
    padding-bottom: 10px;
    box-sizing: border-box;
    @media screen and (max-width: $smartphone) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;
      padding: 40px;
    }
    @media screen and (max-width: $smartphone-middle) {
      padding-left: 20px;
      padding-right: 20px;
    }
    &-item {
      @include gridable(100%);
      align-items: center;
      box-sizing: border-box;
      min-height: 130px;
      height: 100%;
      grid-template-columns: max-content 1fr;
      column-gap: 44px;
      border-bottom: 1px solid $color-border-order;
      padding: 16px 0;
      @media screen and (max-width: $smartphone) {
        grid-template-columns: 1fr;
        min-height: 280px;
        height: 100%;
        max-height: 350px;
        grid-auto-rows: min-content 1fr;
        column-gap: 0;
        row-gap: 10px;
      }
      &:last-child {
        border-bottom: none;
      }
      &-info {
        @include gridable(100%);
        gap: 10px;
        grid-template-areas:
          'title price'
          'docs .';
        @media screen and (max-width: $smartphone) {
          grid-template-areas:
            'title'
            'docs'
            'price';
          gap: 10px;
          height: 100%;
          align-content: space-between;
        }
        &_recipe {
          grid-template-areas:
            'title price'
            'docs .'
            'recipe.';
          @media screen and (max-width: $smartphone) {
            grid-template-areas:
              'title'
              'docs'
              'recipe'
              'price';
          }
          & .order__sublist-item-text_recipe {
            display: block;
            grid-area: recipe;
          }
        }
      }
      &-price {
        grid-area: price;
        font-size: 22px;
        font-weight: 500;
        justify-self: end;
        align-self: baseline;
        margin: 0;
        @media screen and (max-width: $smartphone) {
          justify-self: start;
        }
      }
      &-photo {
        width: 97px;
        height: auto;
        object-fit: contain;
        align-self: start;
        @media screen and (max-width: $smartphone) {
          height: 97px;
        }
      }
      &-text {
        padding: 6px 12px;
        border-radius: 5px;
        background-color: $color-bg-recipe;
        color: $color-white;
        width: max-content;
        display: none;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  &__subtitle {
    grid-area: title;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  &__docs {
    grid-area: docs;
    @include unmarkedList(0, 0);
    @include flexible(100%);
    gap: 5px;
    @media screen and (max-width: $smartphone) {
      flex-direction: column;
    }
    &-item {
      &::after {
        color: rgba($color-txt-primary, 0.4);
      }
      &:last-child::after {
        display: none;
      }
    }
    &-link {
      @include link();
      color: $color-decorate-green;
      font-size: 13px;
      font-weight: 500;
    }
  }
  &__short-list {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 26px 50px;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: $mobile) {
      padding-left: 40px;
      padding-right: 40px;
    }
    &-item-photo {
      width: 65px;
      height: auto;
      object-fit: contain;
    }
  }
  &__show-all {
    color: $color-decorate-blue;
    height: 42px;
    @include button();
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    background-color: $color-bg-order;
    &:hover {
      .order__arrow-icon {
        transform: rotateX(180deg);
      }
    }
  }
  &__arrow-icon {
    @include arrow();
    width: 22px;
    height: 12px;
    stroke: $color-decorate-blue;
  }
  &_delivered {
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba($color-txt-primary, 0.15);
  }
}

.delivery {
  &__info {
    box-sizing: border-box;
    @include gridable(100%);
    grid-template-columns: repeat(2, max-content);
    padding: 0 28px 33px 40px;
    gap: 4px 50px;
    grid-template-areas:
      'title-address title-date'
      'text-address text-date';
    @media screen and (max-width: $smartphone) {
      column-gap: 20px;
    }
    @media screen and (max-width: $smartphone-small) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title-address'
        'text-address'
        'title-date'
        'text-date';
      row-gap: 10px;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: $color-txt-seconary;
    margin: 0;
    @media screen and (max-width: $smartphone) {
      font-size: 12px;
    }
    &_address {
      grid-area: title-address;
    }
    &_date {
      grid-area: title-date;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    @media screen and (max-width: $smartphone) {
      font-size: 14px;
    }
    &_address {
      grid-area: text-address;
    }
    &_date {
      grid-area: text-date;
    }
  }
  &__status {
    box-sizing: border-box;
    @include unmarkedList(0, 0);
    @include gridable(100%);
    justify-content: space-between;
    background-color: $color-bg-delivery;
    border-radius: 5px 5px 0 0;
    padding: 32px 27px 24px 51px;
    grid-template-columns: repeat(4, max-content);
    @media screen and (max-width: $mobile) {
      padding: 20px;
    }
    @media screen and (max-width: $mobile-middle) {
      padding-left: 10px;
      padding-right: 10px;
    }
    &-item {
      @include gridable(100%);
      justify-items: center;
      gap: 9px;
      position: relative;
      &::after {
        @include deliveryStatusDefault();
      }
      &:nth-child(4):after {
        display: none;
      }

      &_done {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          &::before {
            @include deliveryStatusDone();
          }
        }

        .delivery__status-text {
          color: $color-decorate-green;
        }
        .delivery__circle {
          background-color: $color-decorate-green;
        }
      }
    }
    &-text {
      margin: 0;
      color: $color-txt-seconary;
      font-size: 17px;
      font-weight: 500;
      @media screen and (max-width: $mobile) {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  &__circle {
    z-index: 20;
    @include flexible(54px);
    position: relative;
    align-items: center;
    border-radius: 50%;
    height: 54px;
    background-color: $color-bg-delivery-default;
    @media screen and (max-width: $mobile) {
      width: 44px;
      height: 44px;
    }
  }
  &__icon {
    height: 24px;
    @media screen and (max-width: $mobile) {
      height: 16px;
    }
  }
}

.contact-us {
  @include link();
  font-size: 18px;
  font-weight: 600;
  color: $color-decorate-green;
  align-items: center;
  @include flexible(100%);
  gap: 10px;
  flex-wrap: nowrap;
  &_header {
    display: none;
    @media screen and (max-width: $smartphone) {
      display: flex;
    }
  }
  &_order {
    grid-area: contact;
    @media screen and (max-width: $smartphone) {
      & .contact-us__text {
        display: none;
      }
    }
  }
  &_footer {
    @media screen and (max-width: $tablet-small) {
      justify-content: center;
    }
  }
  &__icon {
    fill: $color-decorate-green;
    width: 19px;
    height: 19px;
  }
  &__text {
  }
}

.footer {
  background-color: $color-bg-footer;
  &__container {
    @include gridable(100%);
    box-sizing: border-box;
    padding: 47px 20px 20px;
    max-width: $max-width;
    gap: 68px;
  }
  &__nav {
    @include gridable(100%);
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 40px;
    @media screen and (max-width: $tablet-small) {
      justify-content: center;
      grid-template-columns: auto;
      grid-template-areas:
        'assortiment .'
        'service feedback';
    }
    @media screen and (max-width: $mobile-small) {
      grid-template-areas:
        'assortiment '
        'service'
        'feedback';
    }
  }
  &__column {
    @include gridable(100%);
    align-content: start;
    gap: 34px;
    @media screen and (max-width: $tablet-small) {
      &:nth-child(1) {
        grid-area: assortiment;
      }
      &:nth-child(2) {
        grid-area: service;
      }
      &:nth-child(3) {
        grid-area: feedback;
      }
    }
    @media screen and (max-width: $mobile-small) {
      gap: 15px;
    }
  }
  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  &__menu {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px 62px;
    max-height: 138px;
    @media screen and (max-width: $mobile-small) {
      gap: 10px;
    }
    &_assortiment {
      align-content: flex-start;
      @media screen and (max-width: $mobile-small) {
        max-height: 100%;
      }
    }
  }
  &__info {
    @include flexible(100%);
    gap: 24px;
    align-items: center;
    min-height: 42px;
    @media screen and (max-width: $tablet) {
      gap: 12px;
    }
    @media screen and (max-width: $tablet-small) {
      align-items: center;
      flex-direction: column;
    }
  }
  &__link {
    @include link();
    font-weight: 400;
    font-size: 14px;
    color: $color-txt-footer;
    white-space: nowrap;

    &_green {
      color: $color-decorate-green;
    }
  }
  &__docs {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    justify-content: flex-end;
    gap: 24px;
    @media screen and (max-width: $tablet) {
      gap: 12px;
    }
    @media screen and (max-width: $tablet-small) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__copyright {
    font-size: 14px;
    font-weight: 400;
    color: rgba($color-txt-footer, 0.5);
    margin: 0;
    white-space: nowrap;
  }
}

.banner {
  @include gridable(100%);
  padding-top: 86px;
  background-color: $color-white;
  @media screen and (max-width: $desktop) {
    padding-top: 0;
  }
  &__container {
    @include gridable(100%);
    min-height: 136px;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 136px;
    grid-template-areas: 'text store mobile';
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    column-gap: 40px;
    align-items: center;
    background: linear-gradient(
      270.1deg,
      $color-decorate-blue 8.74%,
      $color-decorate-btn-green 99.91%
    );
    @media screen and (max-width: $desktop) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'text mobile'
        'store mobile';
      height: 100%;
    }
    @media screen and (max-width: $tablet-small) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 20px;
      justify-items: center;
      grid-template-areas:
        'text'
        'store';
    }
  }
  &__text {
    grid-area: text;
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: $color-white;
    @media screen and (max-width: $tablet-small) {
      text-align: center;
    }
    @media screen and (max-width: $mobile-small) {
      font-size: 18px;
    }
  }
  &__list {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    flex-wrap: nowrap;
    gap: 14px;
    &_store {
      grid-area: store;
      @media screen and (max-width: $tablet-small) {
        justify-content: center;
      }
      @media screen and (max-width: $mobile-small) {
        flex-direction: column;
        align-items: center;
      }
    }
    &_mobile {
      grid-area: mobile;
      align-self: flex-end;
      @media screen and (max-width: $tablet-small) {
        display: none;
      }
    }
    &-item {
      &_android {
        width: 170px;
        height: 184px;
        background: url('./images/photo/android.png') no-repeat;
        background-size: contain;
        align-self: flex-end;
      }
      &_apple {
        width: 195px;
        height: 215px;
        background: url('./images/photo/apple.png') no-repeat;
        background-size: contain;
        align-self: flex-end;
        position: relative;
      }
    }
  }
  &__icon {
    width: 158px;
    height: 50px;
  }
  &__link {
    @include link();
  }
}

.sale {
  box-sizing: border-box;
  background-color: $color-decorate-green;
  padding: 9px;
  color: $color-white;
  max-width: max-content;
  position: absolute;
  right: -15px;
  bottom: 15px;
  transform: rotate(-15deg);

  &__title {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
  }
}

.cross {
  @include gridable(100%);
  align-content: space-between;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  &:before,
  &:after,
  & &__line {
    content: '';
    display: block;
    height: 2px;
    background: $color-white;
    border-radius: 2px;
    transition: 0.5s;
  }
  &:hover {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &::after {
      transform: translateY(-9.5px) rotate(-135deg);
    }
    & .cross__line {
      transform: scale(0);
    }
  }
}
