@import './scss/mixins';
@import './scss/variables';

.root {
  @include gridable(100%);
  background-color: $color-white;
  grid-template-columns: 1fr;
  gap: 36px;
  justify-items: center;
  box-sizing: border-box;
  height: 100%;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-style: normal;
}

.header,
main,
footer {
  @include gridable(100%);
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header {
  &__container {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    @include gridable(100%);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    max-width: $max-width;
    height: 100%;
    min-height: 117px;
    gap: 11px;
  }
  &__top {
    @include gridable(100%);
    grid-template-columns: 1fr repeat(2, min-content);
    font-size: 16px;
    height: 36px;
    gap: 22px;
  }
  &__link {
    cursor: pointer;
    transition: opacity 0.5s ease;
    position: relative;
    text-decoration: none;
    color: $color-decorate-blue;
  }
  &__menu {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    gap: 24px;
    &-item {
      @include link();
      &_city {
        cursor: pointer;
        @include flexible(max-content);
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        &:hover {
          .header__arrow-icon {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
  &__arrow-icon {
    @include arrow();
    height: 8px;
    width: 12px;
    stroke: $color-decorate-blue;
  }
  &__phone {
    @include gridable(100%);
    &-number {
      @include link();
      color: $color-txt-primary;
      font-size: 18px;
      white-space: nowrap;
    }
    &-text {
      margin: 0;
      font-size: 12px;
      line-height: 1.25;
      color: rgba($color-txt-primary, 0.5);
    }
  }
  &__profile {
    cursor: pointer;
    @include flexible(100%);
    align-items: center;
    gap: 8px;
    @include link();
    &:hover {
      .header__arrow-icon {
        transform: rotateX(180deg);
      }
    }

    &-icon {
      width: 17px;
      height: 17px;
    }
  }
  &__bottom {
    @include gridable(100%);
    grid-template-areas: 'logo button search cart';
    grid-template-columns: repeat(2, min-content) 1fr min-content;
    align-items: center;
  }
  &__logo {
    grid-area: logo;
    margin-right: 26px;
    @include link();
    @include gridable(100%);
    column-gap: 9px;
    align-items: center;
    justify-content: space-between;
    grid-template-areas:
      'logo logo-text-top'
      'logo logo-text-bottom';
    max-width: 133px;
    &-icon {
      grid-area: logo;
      width: 40px;
      height: 40px;
    }
    &-text {
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1;
      &_top {
        grid-area: logo-text-top;
        color: $color-decorate-green;
      }
      &_bottom {
        grid-area: logo-text-bottom;
        color: $color-decorate-blue;
      }
    }
  }
  &__catalog {
    &-button {
      grid-area: button;
      @include flexible(167px);
      @include button();
      gap: 8px;
      color: $color-white;
      height: 50px;
      font-weight: 500;
      background: linear-gradient(
        270.1deg,
        $color-decorate-blue 8.74%,
        $color-decorate-btn-green 99.91%
      );
      border-radius: 5px;
      &:hover {
        .header__catalog-arrow-icon {
          transform: rotateX(180deg);
        }
      }
    }
    &-arrow-icon {
      @include arrow();
      height: 8px;
      width: 12px;
      stroke: $color-white;
    }
  }
}

.search-form {
  height: 100%;
  grid-area: search;
  margin: 0 18px 0 12px;
  &__label {
    grid-template-areas: 'element';
    @include gridable(100%);
    height: 100%;
    position: relative;
    grid-template-columns: 1fr min-content;
  }
  &__input {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba($color-txt-primary, 0.25);
    border: 1px solid $color-search;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
    &::placeholder {
      color: $color-search;
      font-size: 18px;
    }
  }
  &__button {
    @include button();
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 57px;
    border-radius: 0 5px 5px 0;
    background-color: $color-decorate-blue;
  }
  &__icon {
    fill: red;
    width: 23px;
    height: 23px;
  }
}
.cart {
  grid-area: cart;
  @include link();
  @include flexible(100%);
  flex-flow: nowrap;
  align-items: center;
  gap: 8px;
  &__icon {
    width: 33px;
    height: 33px;
  }
  &__link {
    text-decoration: none;
    color: $color-decorate-blue;
    font-size: 18px;
    font-weight: 500;
  }
  &__notify {
    @include notify();
  }
}

.main {
  &__container {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    @include gridable(100%);
    gap: 20px;
    grid-template-columns: max-content minmax(280px, 825px);
    justify-content: space-between;
    max-width: $max-width;
  }
}

.profile {
  @include gridable(100%);
  grid-template-rows: repeat(2, min-content);
  gap: 44px;
  &__info {
    @include gridable(100%);
    gap: 14px;
  }
  &__avatar {
    height: 90px;
    border-radius: 50px;
    color: $color-white;
    background-color: $color-bg-profile;
    @include flexible(90px);
    align-items: center;
    justify-content: center;
    font-size: 34px;
  }
  &__name {
    @include gridable(100%);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  &__edit-link {
    color: $color-decorate-green;
    font-size: 16px;
    font-weight: 500;
    @include link();
  }
  &__menu {
    @include gridable(100%);
    gap: 20px;
    font-size: 17px;
    @include unmarkedList(0, 0);
    font-weight: 500;
    &-item {
      @include flexible(100%);
      gap: 4px;
    }
    &-link {
      @include link();
      color: $color-txt-seconary;
      &_active {
        color: $color-txt-primary;
      }
      &_delivery {
        color: $color-decorate-blue;
      }
    }
  }
  &__delivery-notify {
    @include notify();
  }
}

.orders {
  padding-top: 11px;
  @include gridable(100%);
  max-width: 825px;
  gap: 32px;
  &__title {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  &__quantity {
    color: $color-txt-seconary;
  }
  &__list {
    @include unmarkedList(0, 0);
    box-shadow: 0px 4px 20px rgba($color-txt-primary, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.order {
  &__container {
    border-radius: 5px;
    box-sizing: border-box;
    @include gridable(100%);
    align-items: center;
    &_delivery {
      padding: 30px 28px 26px 40px;
      column-gap: 16px;
      grid-template-columns: max-content max-content 1fr;
      grid-template-areas:
        'title contact payment'
        'number . total';
    }
    &_delivered {
      background-color: $color-bg-order;
      padding: 12px 28px 12px 40px;
      grid-template-areas:
        'title . payment'
        'number . total';
    }
  }
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    grid-area: title;
  }
  &__link {
    @include link();
    font-size: 18px;
    font-weight: 600;
    &_contact {
      color: $color-decorate-green;
      @include flexible(100%);
      gap: 10px;
      flex-wrap: nowrap;
      grid-area: contact;
    }
    &_number {
      color: $color-decorate-blue;
      grid-area: number;
    }
  }

  &__payment {
    font-size: 17px;
    font-weight: 500;
    justify-self: end;
    margin: 0;
    grid-area: payment;
  }
  &__total {
    font-size: 24px;
    font-weight: 700;
    justify-self: end;
    margin: 0;
    grid-area: total;
  }
  &__icon {
    fill: $color-decorate-green;
    width: 19px;
    height: 19px;
  }
}

.delivery {
  &__info {
    box-sizing: border-box;
    @include gridable(100%);
    grid-template-columns: repeat(2, max-content);
    padding: 0 28px 33px 40px;
    gap: 4px 50px;
    grid-template-areas:
      'title-address title-date'
      'text-address text-date';
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
    color: $color-txt-seconary;
    margin: 0;
    &_address {
      grid-area: title-address;
    }
    &_date {
      grid-area: title-date;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    &_address {
      grid-area: text-address;
    }
    &_date {
      grid-area: text-date;
    }
  }
  &__status {
    box-sizing: border-box;
    @include unmarkedList(0, 0);
    @include gridable(100%);
    justify-content: space-between;
    background-color: $color-bg-delivery;
    border-radius: 5px 5px 0 0;
    padding: 32px 27px 24px 51px;
    grid-template-columns: repeat(4, max-content);
    &-item {
      @include gridable(100%);
      justify-items: center;
      gap: 9px;
      position: relative;
      &::before {
        z-index: 1;
        @include flexible(200px);
        content: '';
        position: absolute;
        height: 3px;
        top: 26px;
        right: 50px;
        background-color: $color-bg-delivery-default;
      }
      &_done {
        .delivery__status-text {
          color: $color-decorate-green;
        }
        .delivery__circle {
          background-color: $color-decorate-green;
        }
        &::before {
          @include flexible(200px);
          content: '';
          position: absolute;
          height: 3px;
          top: 26px;
          left: 50px;
          background-color: $color-decorate-green;
        }
      }
    }
    &-text {
      margin: 0;
      color: $color-txt-seconary;
      font-size: 17px;
      font-weight: 500;
    }
  }
  &__circle {
    z-index: 10;
    @include flexible(54px);
    position: relative;
    align-items: center;
    border-radius: 50%;
    height: 54px;
    background-color: $color-bg-delivery-default;
  }
  &__icon {
    height: 24px;
  }
}
