@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding, $margin) {
  margin: $margin;
  padding: $padding;
  list-style-type: none;
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin navHoverEffect {
  position: relative;
  cursor: pointer;
  transition: opacity 0.5s ease;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3px;
    display: block;
    width: 0;
    height: 2px;
    background-color: $color-decorate-green;
    transition: width 0.5s;
  }
  &:hover:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-decorate-blue;
    transition: width 0.5s;
  }
}

@mixin button() {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    color: green;
  }
}

@mixin arrow() {
  align-self: center;
  transition: transform 1s ease;
  stroke-width: 2px;
}

@mixin notify() {
  @include flexible(21px);
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: $color-white;
  background-color: $color-decorate-blue;
  border-radius: 50%;
}

@mixin deliveryStatusDefault {
  @include flexible(200px);
  content: '';
  position: absolute;
  top: 26px;
  left: 60px;
  z-index: 1;
  height: 3px;
  background-color: $color-bg-delivery-default;
  @media screen and (max-width: $tablet) {
    left: 60px;
    width: 250px;
  }
  @media screen and (max-width: $tablet-middle) {
    width: 220px;
  }
  @media screen and (max-width: $tablet-small) {
    width: 200px;
  }
  @media screen and (max-width: $smartphone) {
    width: 150px;
  }
  @media screen and (max-width: $smartphone-small) {
    width: 120px;
  }
  @media screen and (max-width: $mobile) {
    top: 21px;
    left: 40px;
    width: 130px;
    height: 2px;
  }
  @media screen and (max-width: $mobile-middle) {
    width: 100px;
  }
  @media screen and (max-width: $mobile-small) {
    width: 80px;
  }
}

@mixin deliveryStatusDone {
  @include flexible(180px);
  content: '';
  position: absolute;
  top: 26px;
  right: 65px;
  z-index: 10;
  height: 3px;
  background-color: $color-decorate-green;
  @media screen and (max-width: $tablet) {
    right: 60px;
    width: 250px;
  }
  @media screen and (max-width: $tablet-middle) {
    width: 220px;
  }
  @media screen and (max-width: $tablet-small) {
    width: 180px;
  }
  @media screen and (max-width: $smartphone) {
    width: 150px;
  }
  @media screen and (max-width: $smartphone-middle) {
    width: 140px;
  }
  @media screen and (max-width: $smartphone-small) {
    width: 120px;
  }
  @media screen and (max-width: $mobile) {
    top: 21px;
    right: 40px;
    width: 120px;
    height: 2px;
  }
  @media screen and (max-width: $mobile-middle) {
    width: 100px;
  }
  @media screen and (max-width: $mobile-small) {
    right: 30px;
    width: 80px;
  }
}
