$max-width: calc(1108px + 40px);
$color-txt-primary: #000000;
$color-txt-seconary: #8a8c94;
$color-white: #ffffff;
$color-search: #b3b7c5;
$color-bg-footer: #fbfbfb;
$color-txt-footer: #888888;
$color-bg-delivery: #f3f3f3;
$color-bg-order: #fafafa;
$color-bg-recipe: #c1c4c7;
$color-bg-profile: #dbdce1;
$color-decorate-blue: #8168f0;
$color-decorate-green: #21a038;
$color-decorate-btn-green: #68f096;
