$max-width: calc(1108px + 40px);
$color-txt-primary: #000000;
$color-txt-seconary: #8a8c94;
$color-white: #ffffff;
$color-search: #b3b7c5;
$color-bg-footer: #fbfbfb;
$color-txt-footer: #888888;
$color-bg-delivery: #f3f3f3;
$color-bg-order: #fafafa;
$color-bg-recipe: #c1c4c7;
$color-bg-profile: #dbdce1;
$color-bg-delivery-default: #dddfe0;
$color-decorate-blue: #8168f0;
$color-decorate-green: #21a038;
$color-decorate-btn-green: #68f096;
$color-border-order: #c4c4c4;

$desktop: 1200px;
$tablet: 1024px;
$tablet-middle: 960px;
$tablet-small: 864px;
$smartphone: 765px;
$smartphone-middle: 720px;
$smartphone-small: 640px;
$mobile: 576px;
$mobile-middle: 490px;
$mobile-small: 420px;
